@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/simplifica/Simplifica.ttf');
}

@font-face {
    font-family: 'Focus';
    src: url('../fonts/focus/Focus-Regular.ttf');
}

@font-face {
	font-family : "Starjhol";
	src         : url("../fonts/starjedi/Starjhol.ttf");
}

@font-face {
	font-family : "Starjedi";
	src         : url("../fonts/starjedi/Starjedi.ttf");
}

$black                : #000 !default;
$white                : #fff !default;
$gray-base            : #000 !default;
$gray-darker          : lighten($gray-base, 13.5%) !default; // #222
$gray-darker-inactive : #9d9d9d;
$footer-link-hover    : #65c2ed;

@mixin box-shadow ($offsetx, $offsety, $blur, $spread, $color) {
	-moz-box-shadow: $offsetx $offsety $blur $spread $color;
	-webkit-box-shadow: $offsetx $offsety $blur $spread $color;
	box-shadow: $offsetx $offsety $blur $spread $color;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "Simplifica";
	margin-bottom: 241px;
	// padding-top: 100px;
}

.welcome {
	position: relative;
	height: 100vh;
	margin-top: 0;
    width: 100%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#2d2d2d, #1c1c1c, #000000); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#2d2d2d, #1c1c1c, #000000); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#2d2d2d, #1c1c1c, #000000); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#2d2d2d, #1c1c1c, #000000); /* Standard syntax (must be last) */
    color: white;
	text-align: center;

    h1 {
    	position: relative;
    	top: 38vh;
    	font-size: 9vh;
    	line-height: 9vh;
    	margin-top: 0;
    }

    h2 {
    	position: relative;
    	top: 38vh;
    	font-size: 5vh;
    	line-height: 5vh;
    	margin-bottom: 0;
    }
}

.navbar-1 {
    background-color: rgba(34, 34, 34, 0);
    border-color: rgba(8, 8, 8, 0);
    background-image: none;
}

.navbar {
    .brand-name {
    	font-size: 35px;
    	color: white;
	}

    .navbar-nav {
    	li {
    		font-size: 35px;
    		color: white;

    		a {
    			color: white;
    		}

    		a:link {
    		    color: white;
    		}

    		a:hover {
    		    color: #00cccc;
    		}
    	}

    	#portfolio-tab-2 {
    		color: #00cccc;
    	}
    }
}

.about-me-content {
	height: 100vh;
	margin-top: 0;
    width: 100%;
	color: #0298dd;
	font-weight: 600;
	background: black;

	#about-me-background {
		position: relative;
		height: 100vh;
		margin-top: 0;
	    width: 100%;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		overflow: auto;
		opacity: 0.5;
	}

	.container {
		position: absolute;
		top: 120vh;
		width: 50%;
		margin-left: 25%;

		.my-picture {
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 10px;
		    margin-bottom: 30px;
		    background-image: url('../images/profile2.jpg');
		    background-size: 100% 100%;
		    -webkit-filter: none; /* Safari 6.0 - 9.0 */
		    filter: none;
		    width: 200px;
		    height: 200px;
		    border-radius: 50%;
		    box-shadow: inset 0px 0px 20px #302f2f;
		}

		h1 {
			font-size: 50px;
			margin-top: 30px;
			text-align: center;
			font-weight: 900;
		}

		p {
			font-size: 40px;
			text-align: center;
		}
	}
}

.portfolio-content {
	background: #fff;
	color: black;

	.container {
		padding: 0;
		padding-top: 30px;
		padding-bottom: 30px;

		#portfolio-see-more {
			display: block;
			font-size: 35px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			a {
				width: 100px;
			}
		}

		h1 {
			font-size: 50px;
			margin-top: 30px;
			text-align: center;
		}

		.row {
			border-top: 1px solid #ddd;
			padding-top: 2rem;

			.project-img {
				height: auto;

				h2 {
					color: black;
					font-size: 35px;
					font-weight: bold;
					text-align: center;
				}
			}

			#project1-img {
				h2 {
					font-family: "Starjhol";
					font-size: 65px;
					line-height: 30px;
					color: #e5b13a;
				}

				h3 {
					font-family: "Starjedi";
					font-size: 20px;
					text-align: center;
					color: black;
				}
			}

			#project2-img {
				img {
					display: block;
					width: 75%;
					margin-left: auto;
					margin-right: auto;
				}
			}

			#project3-img {
				h2 {
					font-family: "Focus";
					font-size: 50px;
				}
			}

			#project4-img {
				img {
					display: block;
					width: 100px;
					margin-left: auto;
					margin-right: auto;
				}
			}

			#project5-img {
				img {
					display: block;
					width: 75%;
					margin-left: auto;
					margin-right: auto;
				}
			}

			.panel {
				box-shadow: 0 0 0 rgba(0,0,0,.05);
				border: 0 solid transparent;
			}

			.project-desc {
				height: 240px;
				margin-bottom: 30px;
				background-color: transparent;
				border-color: transparent;

				p {
					color: black;
					font-size: 25px;
					text-align: left;
				}

				button, iframe {
					float: left;
					margin-top: 20px;
				}

				button {
					font-size: 20px;
					border-radius: 20px;
					width: 80px;
				}

				iframe {
					padding-top: 6px;
					margin-left: 10px;
				}
			}
		}
	}
}

.portfolio-content-full {
	margin-top: 35px;
}

/*! Footer */
footer {
	background     : $gray-darker;
	color          : $white;
	margin         : 0;
	font-family    : 'Open Sans', sans-serif;
	position       : absolute;
	bottom         : 0;
	width          : 100%;
	height         : 241px;

	h3 {
		color         : $gray-darker-inactive;
		font-weight   : lighter;
		font-style    : italic;
		margin-bottom : 0;
		margin-top: 40px;
	}

	p, li {
		font-weight    : 400;
		text-transform : uppercase;
		letter-spacing : 0.05em;
		margin         : 10px 0;
	}

	a {
		color              : $white;
		text-decoration    : none;
		-webkit-transition : color .5s, background .5s;
		transition         : color .5s, background .5s;
		&:hover {
			color: $footer-link-hover;
		}
	}

	.centered {
		max-width       : 1200px;
		margin          : 0 auto;
		display         : flex;
		justify-content : space-between;

		&:before,
		&:after {
			content: '\0020';
			display: block;
			overflow: hidden;
			visibility: hidden;
			width: 0;
			height: 0;
			clear: both;
		}

		.footer-contact {
			width: 35%;

			.fa {
				width: 20px;
				padding-right: 10px;
			}
		}

		.footer-connect {
			width: 35%;
		}

		.footer-navigation {
			width: 30%;

			ul {
				width: 50%;
				float: left;
			}

			.fa {
				padding-right: 10px;
			}
		}
	}
	.bottom-bar {
		position       : relative;
		text-align     : center;
		font-size      : .8em;
		text-transform : uppercase;
		background     : $black;
		padding        : 15px 0;
	}

	ul {
		list-style-type: none;
	}
}

// Social Icons
.social {
	li {
		float: left;
	}

	a {
		display        : inline-block;
		padding        : 0 7px;
		margin         : 3px 10px 10px 0;
		vertical-align : middle;
	}
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*! Footer */

 // Responsive Tablet Sizes
@media only screen and (max-width: 991px) {
	// body {
	// 	padding-top: 156px;
	// }
}

@media only screen and (max-width: 769px) {
	// body {
	// 	padding-top: 100px;
	// }
}

@media only screen and (max-width: 749px) {
	body {
		margin-bottom: 397px;
	}

	footer {
		height: 397px;
		.centered {
			flex-wrap:wrap;
			.footer-contact {
				width  : 50%;
				margin : 0 auto;
			}

			.footer-connect {
				width  : 50%;
				margin : 0 auto;
			}
			.footer-navigation {
				width:100%;
			}
		}
	}
}

 // Responsive Mobile Sizes
@media only screen and (max-width: 699px) {
	.about-me-content {
		.container {
			top: 100vh;
			width: 100%;
			margin-left: 0;

			.my-picture {
			    width: 100px;
			    height: 100px;
			}

			h1 {
				font-size: 30px;
			}

			p {
				font-size: 20px;
			}
		}
	}

	.portfolio-content {
		.container {
			.row {
				#project2-img {
					img {
						width: 50%;
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 500px) {
	body {
		margin-bottom: 505px !important;
	}

	.navbar-1 {
	    background-color: #222;
	    border-color: #080808;
	    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	}

	.about-me-content {
		.container {
			top: 115vh;
		}
	}

	.portfolio-content {
		.container {
			.row {
				#project2-img {
					img {
						width: 65%;
					}
				}
			}
		}
	}

	footer {
		height: 505px;

		.centered {
			margin-right : 0;
			margin-left  : 0;
			.footer-contact {
				width  : 100%;
				margin : 0 auto;
			}

			.footer-connect {
				width  : 100%;
				margin : 0 auto;
			}
		}
	}
}