@font-face {
  font-family: "Simplifica";
  src: url("../fonts/Simplifica.ttf");
}
@font-face {
  font-family: "Focus";
  src: url("../fonts/Focus-Regular.ttf");
}
@font-face {
  font-family: "Starjhol";
  src: url("../fonts/Starjhol.ttf");
}
@font-face {
  font-family: "Starjedi";
  src: url("../fonts/Starjedi.ttf");
}
html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Simplifica";
  margin: 0 0 241px 0;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #848484;
}

.welcome, .about-me-content {
  position: relative;
  height: 100vh;
  margin-top: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome {
  color: white;
  text-align: center;
  background-image: url("../images/code-bg-blurred.png");
}
.welcome .container {
  position: absolute;
  top: 40vh;
  width: 50%;
  margin-left: 25%;
}
.welcome .container h1 {
  font-size: 12vh;
  line-height: 12vh;
  margin-top: 0;
  color: #65c2ed;
}
.welcome .container h2 {
  font-size: 5vh;
  line-height: 5vh;
}

.transparent-navbar {
  background-color: rgba(34, 34, 34, 0);
  border-color: rgba(8, 8, 8, 0);
  background-image: none;
}

.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar .brand-name {
  font-size: 35px;
  color: white;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-collapse .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse .navbar-nav li {
  font-size: 35px;
  color: white;
}
.navbar .navbar-collapse .navbar-nav li a {
  color: white;
}
.navbar .navbar-collapse .navbar-nav li a:link {
  color: white;
}
.navbar .navbar-collapse .navbar-nav li a:hover {
  color: #4dd0e1;
}
.navbar .navbar-collapse .navbar-nav #portfolio-tab-2, .navbar .navbar-collapse .navbar-nav #contact-tab-3 {
  color: #4dd0e1;
}

.about-me-content {
  color: #0298dd;
  font-weight: 600;
  background-image: url("../images/about-me-background-dark.png");
}
.about-me-content .container {
  position: absolute;
  top: 20vh;
  width: 50%;
  margin-left: 25%;
}
.about-me-content .container .my-picture {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  background-image: url("../images/profile2.jpg");
  background-size: 100% 100%;
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  filter: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px #302f2f;
}
.about-me-content .container h1 {
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
  font-weight: 900;
}
.about-me-content .container p {
  font-size: 40px;
  text-align: center;
}

.skills-content {
  background-color: #e5e5e5;
}
.skills-content .container {
  padding: 30px;
  text-align: center;
}
.skills-content .container .row h1 {
  font-size: 50px;
}
.skills-content .container .row .col-xs-6 h1 {
  font-size: 36px;
  margin: 20px;
}
.skills-content .container .row .col-xs-6:first-of-type {
  padding-right: 0;
}
.skills-content .container .row .col-xs-6:first-of-type ul {
  border-right: 1px solid #727272;
}
.skills-content .container .row .col-xs-6:first-of-type ul li {
  position: relative;
  left: -20px;
}
.skills-content .container li {
  font-size: 25px;
  margin-bottom: 10px;
}
.skills-content .container li span {
  position: relative;
  top: -10px;
}
.skills-content .container li span.react {
  position: relative;
  left: -6px;
}
.skills-content .container li span.redux {
  position: relative;
  left: -2px;
}
.skills-content .container li span.mysql {
  position: relative;
  left: -10px;
}
.skills-content .container li span.csharp {
  position: relative;
  left: -12px;
}
.skills-content .container li .icon {
  display: inline-block;
  height: 40px;
}
.skills-content .container li .icon svg {
  height: 100%;
}
.skills-content .container li .icon.css {
  padding-right: 7px;
}
.skills-content .container li .icon.bs {
  margin-left: 23px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}
.skills-content .container li .icon.js {
  margin-left: 30px;
  padding-right: 5px;
}
.skills-content .container li .icon.jquery {
  position: relative;
  left: -3px;
  height: 30px;
}
.skills-content .container li .icon.hbs {
  margin-left: 30px;
  margin-right: 5px;
}
.skills-content .container li .icon.hbs svg {
  width: 30px;
}
.skills-content .container li .icon.react {
  position: relative;
  left: -10px;
  height: 35px;
}
.skills-content .container li .icon.redux {
  position: relative;
  left: -10px;
  height: 30px;
}
.skills-content .container li .icon.node {
  padding-right: 7px;
}
.skills-content .container li .icon.express {
  height: 30px;
}
.skills-content .container li .icon.mysql {
  position: relative;
  left: -15px;
  height: 30px;
}
.skills-content .container li .icon.mongodb {
  margin: 0 10px;
  height: 50px;
}
.skills-content .container li .icon.csharp {
  position: relative;
  left: -17px;
}
.skills-content .container li .aspnet-icon {
  width: 70px;
}
.skills-content .container li .git {
  position: relative;
  top: -4px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
}

.portfolio-content {
  background: #fff;
  color: black;
}
.portfolio-content .container {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio-content .container #portfolio-see-more {
  display: block;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.portfolio-content .container #portfolio-see-more a {
  width: 100px;
}
.portfolio-content .container h1 {
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
}
.portfolio-content .container .row:not(:first-of-type) {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
}
.portfolio-content .container .row .project-img {
  height: auto;
}
.portfolio-content .container .row .project-img h2 {
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.portfolio-content .container .row #project0-img svg {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-content .container .row #project3-img h2 {
  font-family: "Focus";
  font-size: 50px;
}
.portfolio-content .container .row #project4-img h2 {
  font-family: "Starjhol";
  font-size: 65px;
  line-height: 30px;
  color: #e5b13a;
}
.portfolio-content .container .row #project4-img h3 {
  font-family: "Starjedi";
  font-size: 20px;
  text-align: center;
  color: black;
}
.portfolio-content .container .row #project5-img svg {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-content .container .row #project6-img img {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-content .container .row #project7-img svg {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-content .container .row #project9-img svg {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-content .container .row #project17-img svg {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-content .container .row #project18-img svg {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-content .container .row .panel {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  border: 0 solid transparent;
}
.portfolio-content .container .row .project-desc {
  margin-bottom: 30px;
  background-color: transparent;
  border-color: transparent;
}
.portfolio-content .container .row .project-desc .row {
  border-top: none;
  padding-top: 0;
}
.portfolio-content .container .row .project-desc a:hover {
  text-decoration: none;
}
.portfolio-content .container .row .project-desc p {
  color: black;
  font-size: 25px;
  text-align: left;
}
.portfolio-content .container .row .project-desc ul li {
  font-size: 25px;
  color: #000;
}
.portfolio-content .container .row .project-desc button, .portfolio-content .container .row .project-desc iframe {
  float: left;
  margin-top: 20px;
}
.portfolio-content .container .row .project-desc button {
  font-size: 20px;
  border-radius: 20px;
  width: 80px;
}
.portfolio-content .container .row .project-desc iframe {
  padding-top: 6px;
  margin-left: 10px;
}
.portfolio-content .container .row .project-desc .technologies {
  padding-top: 20px;
}
.portfolio-content .container .row .project-desc .technologies .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}
.portfolio-content .container .row .project-desc .technologies .bs {
  position: relative;
  top: -2px;
  height: 40px;
  width: 40px;
}
.portfolio-content .container .row .project-desc .technologies .redux-icon {
  margin-right: 10px;
}
.portfolio-content .container .row .project-desc .technologies .aspnet-icon {
  width: 70px;
}
.portfolio-content .container .row .project-desc .technologies .db {
  margin: 0 10px;
  width: 80px;
}
.portfolio-content .container .row .project-desc .technologies .express-icon {
  margin: 0 10px;
  width: 80px;
}
.portfolio-content .container .row .project-desc .technologies .mongodb {
  margin: 0 10px;
  width: 100px;
}
.portfolio-content .container .row .project-desc .technologies .git {
  position: relative;
  top: -4px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
}
.portfolio-content .container .row .project-desc .technologies svg {
  height: 100%;
  width: 100%;
}

.portfolio-content-full {
  margin-top: 35px;
}

.github-content {
  background-color: #e5e5e5;
}
.github-content .container {
  padding: 30px;
}
.github-content .container h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.github-content .container #feed {
  width: 50%;
  margin-left: 25%;
}

.contact-content {
  margin-top: 70px;
}
.contact-content .container {
  width: 30%;
}
.contact-content .container #message-alert {
  display: none;
  font-size: 24px;
  text-align: center;
}
.contact-content .container #message-alert button {
  font-size: 30px;
}
.contact-content .container form {
  margin-top: 20px;
}
.contact-content .container form legend {
  font-size: 40px;
  text-align: center;
}
.contact-content .container form label, .contact-content .container form input, .contact-content .container form textarea {
  font-size: 24px;
}
.contact-content .container form input, .contact-content .container form textarea, .contact-content .container form button {
  margin-bottom: 20px;
}
.contact-content .container form textarea {
  max-width: 100%;
}
.contact-content .container form button {
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

/*! Footer */
footer {
  background: #222222;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 241px;
}
footer h3 {
  color: #9d9d9d;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 40px;
}
footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}
footer a:hover {
  color: #65c2ed;
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered:before, footer .centered:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}
footer .centered .footer-contact {
  width: 35%;
}
footer .centered .footer-contact .fa {
  width: 20px;
  padding-right: 10px;
}
footer .centered .footer-connect {
  width: 35%;
}
footer .centered .footer-navigation {
  width: 30%;
}
footer .centered .footer-navigation ul {
  width: 50%;
  float: left;
}
footer .centered .footer-navigation .fa {
  padding-right: 10px;
}
footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}
footer ul {
  list-style-type: none;
}

.social li {
  float: left;
}
.social a {
  display: inline-block;
  padding: 0 7px;
  margin: 3px 10px 10px 0;
  vertical-align: middle;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*! Footer */
@media only screen and (max-width: 1440px) {
  .about-me-content .container {
    top: 15vh;
    width: 70%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    margin-bottom: 397px;
  }

  .about-me-content .container {
    top: 10vh;
    width: 100%;
    margin-left: 0;
  }
  .about-me-content .container p {
    font-size: 35px;
  }

  .github-content .container #feed {
    width: 70%;
    margin-left: 15%;
  }

  footer {
    height: 397px;
  }
  footer .centered {
    flex-wrap: wrap;
  }
  footer .centered .footer-contact {
    width: 50%;
    margin: 0 auto;
  }
  footer .centered .footer-connect {
    width: 50%;
    margin: 0 auto;
  }
  footer .centered .footer-navigation {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .welcome .container {
    width: 100%;
    margin-left: 0;
  }
  .welcome .container h1 {
    font-size: 16vh;
    line-height: 16vh;
  }
  .welcome .container h2 {
    font-size: 8vh;
    line-height: 4vh;
  }

  .about-me-content .container {
    top: 0;
    width: 100%;
    margin-left: 0;
  }
  .about-me-content .container .my-picture {
    width: 100px;
    height: 100px;
  }
  .about-me-content .container h1 {
    font-size: 25px;
  }
  .about-me-content .container p {
    font-size: 18px;
  }

  .portfolio-content .container .row #project2-img img {
    width: 50%;
  }

  .contact-content .container {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  body {
    margin-bottom: 505px !important;
  }

  .navbar {
    background-color: #222;
    border-color: #080808;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  }

  .welcome, .about-me-content {
    background-position: center center;
  }

  .welcome .container {
    top: 40vh;
  }
  .welcome .container h1 {
    font-size: 9vh;
    line-height: 9vh;
  }
  .welcome .container h2 {
    font-size: 5vh;
    line-height: 5vh;
  }

  .skills-content .container {
    padding: 30px 0 30px 0;
  }

  .about-me-content .container {
    top: 10vh;
  }
  .about-me-content .container h1 {
    font-size: 30px;
  }
  .about-me-content .container p {
    font-size: 25px;
  }

  .portfolio-content .container .row #project2-img img {
    width: 65%;
  }

  footer {
    height: 505px;
  }
  footer .centered {
    margin-right: 0;
    margin-left: 0;
  }
  footer .centered .footer-contact {
    width: 100%;
    margin: 0 auto;
  }
  footer .centered .footer-connect {
    width: 100%;
    margin: 0 auto;
  }
}
